---
---

@import "{{ site.theme }}";

/* @import url("bootstrap/css/bootstrap.min.css"); */

body {
	background-color: #EDECE7;
	margin: 0;
}
#pagetitle {
	/*margin: 60px 0px 5px 10px;*/
	margin-top: 0.5em;
	position: relative;
	left: 25%;
	width: 45%;
	max-width: 650px;
	min-height: 120px;
	line-height: 120px;
	padding: 0 1.5%;
	border: 1px solid transparent;
}
#pagetitle img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: bottom;
}
#nav {
	z-index: 9999999;
}
#nav ul {
	list-style: none;
	margin-top: 15px;
	margin-bottom: 9px;
	display: block;
	padding: 0;
}
#nav ul a:link, #nav a:visited {
	text-decoration: none;
	-webkit-transition: color .25s linear;
	-ms-transition: color .25s linear;
	-o-transition: color .25s linear;
	-moz-transition: color .25s linear;
	transition: color .25s linear;
}
#nav ul a:hover, #nav a:active {
	text-decoration:none;
	-webkit-transition: color .25s linear;
	-ms-transition: color .25s linear;
	-o-transition: color .25s linear;
	-moz-transition: color .25s linear;
	transition: color .25s linear;
}
a.nav-selected {
	background-color: rgba(127, 127, 0, 0.2);
	border-radius: 0.3em 0 0 0.3em;
}
ul.nav > li > a {
	padding: 0 0.5em;
}
#content-wrap {
}
#side-left {
	text-align: right;
	float: left;
	width: 25%;
	position: fixed;
	min-width: 180px;
}
#side-right-wrap {
	float: left;
	width: 15%;
	padding-left: 1.5%;
	position: relative;
	left: 25%;
	background-color: #EDECE7;
}
#side-right {
	margin-top: 0.5em;
	width: 292px;
	text-align: left;
	font: normal normal 34px 'BebasNeue';
}
#full-content-sidebar {
	border-left: 1px dotted #999;
	border-right: 1px dotted #999;
	width: 45%;
	max-width: 650px;
	position: relative;
	left: 25%;
	padding: 1em 1.5%;
	float: left;
	background-color: #EDECE7;
	min-height: 450px;
}
#full-content-sidebar h1:first-child, #full-content h1:first-child {
	margin-top: 0;
} 
#full-content {
	border-left: 1px dotted #999;;
	width: 810px;
	position: relative;
	left: 25%;
	padding: 1em 1.5%;
	float: left;
	background-color: #EDECE7;
	min-height: 450px;
}
#wrapper {
	min-width: 700px;
	position: relative;
}
#wrapper a, #wrapper a:visited {
	text-decoration:none;/*
	-webkit-transition: color .25s linear;
	-ms-transition: color .25s linear;
	-o-transition: color .25s linear;
	-moz-transition: color .25s linear;
	transition: color .25s linear;*/
}
#wrapper a:hover, #wrapper a:active {
	text-decoration:none;/*
	-webkit-transition: color .25s linear;
	-ms-transition: color .25s linear;
	-o-transition: color .25s linear;
	-moz-transition: color .25s linear;
	transition: color .25s linear;*/
}
#foot {
	clear: both;
	font: 13px 'HattoriHanzoLight';
	text-align: center;
	position: relative;
	left: 25%;
	width: 45%;
	max-width: 650px;
	background-color: #EDECE7;
	border: 1px solid transparent;
	padding: 1em 1.5%;
}
.ccm-page-list-title {
	margin-bottom: 15px;
}
.ccm-page-list-description {
	margin-bottom: 60px;
	display: none;
}
input#email {
	margin-top: 2px;
	width: 90%;
	width: -webkit-calc(100% - 1em);
	width: calc(100% - 1em);
}
.email_list_signup_container {
	font: 400 16px 'HelveticaNeue', sans-serif;
	text-align: left;
	letter-spacing: 0.4px;
}
#side-right p, .email_list_signup_container {
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
	padding-top: 20px;
	margin-bottom: 15px;
}
.image-link {
	display: none;
}
.email_list_signup_container .in-field-label {
}

#wrapper a.btn-eu, #wrapper a.btn-eu:visited {
	font-size: 40px;
	line-height: 50px;
	padding: 4px 8px;
	margin-bottom: 15px;
	width: 274px;
	color: #F30;
}

#wrapper a.btn-eu:hover {
	color: Crimson !important;
}

iframe[src*="webchat"] {
	width: 100%;
	border: 1px solid silver;
}

iframe[src*="trello"] {
	width: 100%;
	border: 1px solid silver;
	height: 450px;
}
