---
---

@import url("typography.css");

/* Box-model fix (adapted from https://css-tricks.com/box-sizing) */
html { box-sizing: border-box; } *, *:before, *:after { box-sizing: inherit; }


.wrapper
{
	header, #content-wrap,  footer
	{
		max-width: 600px;
		margin: 0 auto;
	}

	#content-wrap
	{
		margin-top: 1.5em;
		padding: 1.5em;
		padding-top: 0;
		border-left: 1px dotted #999;
		border-right: 1px dotted #999;
	}

	#logo-rbi
	{
		text-align: center;
	}
}